<div class="d-flex justify-content-center pt-5 bg-dark" style="height: 100vh" >
  <div class="col-sm-3 col-sm-offset-4 p-3 bg-light border" style="height: 25rem">
    <h2 class="text-center">Forgot your password?</h2>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>
      <br>
      <p class="text-left">Please enter your email address and we will send you a link to reset your password.</p>
      <div class="form-group pt-3">
        <%= f.email_field :email, autofocus: true, placeholder: 'Email Address', class: 'form-control ' %>
      </div>
      <div class="form-group d-flex justify-content-center pt-3">
        <%= f.submit "Send password instructions", class: 'btn btn-primary btn-block btn-lg' %>
      </div>
    <% end %>
    <div class="text-center pt-3">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
